---
  #Locations of the Redhat client authentication Certificates/Keys.
  #This is required for syncing RHEL repos from Redhat
  redhat_client_cert: "/etc/pki/entitlement/4287868431718348223.pem"
  redhat_client_key: "/etc/pki/entitlement/4287868431718348223-key.pem"
  redhat_ca_cert: "/etc/rhsm/ca/redhat-uep.pem"

  repo_base_location: '/tmp/repos/'

  repositories:
    rhel6-x86_64-puppet_products:
      type: yum
      source: 'http://yum.puppetlabs.com/el/6/products/x86_64/'
    rhel6-x86_64-gitlab:
      type: yum
      source: 'local'
    rhel6-x86_64-updates:
      type: yum
      source: 'redhat_yum://rhel-6-server-rpms'

