---
  rhn_username: rhnuser
  rhn_password: rhnpass
  repo_base_location: '/tmp/repos/'

  repositories:
    rhel6-x86_64-puppet_products:
      type: yum
      source: 'http://yum.puppetlabs.com/el/6/products/x86_64/'
    rhel6-x86_64-gitlab:
      type: yum
      source: 'local'
    rhel6-x86_64-updates:
      type: yum
      source: 'rhns:///rhel-x86_64-server-6'

