<html>
  <head>
    <title>VCRepo - Version Controlled Package Repos</title>
    <style>
      img { margin: 0px 5px 2px 0px; vertical-align: middle; }
    </style>
  </head>
  <body>
    <h1>VCRepo - Version Controlled Package Repos</h1>
    <hr />
  <%= yield %>
  </body>
</html>
